<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Boletos</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/menu.css' %}">
        <link rel="stylesheet" href="{% static 'css/boletos.css' %}">
    </head>
    <body>
        {% include 'base/header.html' %}
        <div class="container">
            {% if boletos|length == 0 %}
                <p>No hay boletos disponibles 😱</p>
            {% else %}
                {% for boleto in boletos %}
                    {% include 'components/BoletoCard.html' with Tipo=boleto.tipo_boleto.tipo photo=boleto.imagen_url localidad=boleto.evento.localidad.name precio=boleto.precio %}
                {% endfor %}
            {% endif %}
        </div>        
    </body>
</html>
