<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/user_detail.css' %}">
        <title>User_Details_GET</title>
    </head>
    <body>
        {% include 'base/header.html' %}
        
        <div class="user-details-container">
            <h1 class="user-details-title">{{ user.name }}</h1>
            <p class="user-details-info">Email: {{ user.email }}</p>
            <p class="user-details-info">Age: {{ user.age }}</p>
            <p class="user-details-info">RFC: {{ user.rfc }}</p>
            <img class="user-details-image" src="{{ user.photo }}" alt="{{ user.name }}">
            <div class="botones">
                <a href="{% url 'editUser' user.id %}" class="user-edit-link">Editar</a>
                <a href="{% url 'indexUsers' %}" class="user-details-link">Volver</a>
            </div>
        </div>

        {% include 'base/footer.html' %}
    </body>
</html>
