{% extends 'base/base.html' %}

{% block content %}
 <div class="grid-container">
    <div class="grid-item">
        <img src="{{ imagen1.imagen_url }}" alt="Imagen 1">
    </div>
    <div class="grid-item">
        <img src="{{ imagen2.imagen_url }}" alt="Imagen 2">
    </div>
</div>

<div class="grid-container">
    <div class="left-column">
        <div class="grid-item">
            <img src="{{ imagen3.imagen_url }}" alt="Imagen 3">
        </div>
        <div class="grid-item">
            <img src="{{ imagen4.imagen_url }}" alt="Imagen 4">
        </div>
    </div>
    <div class="grid-item">
        <img src="{{ imagen5.imagen_url }}" alt="Imagen 5">
    </div>
</div>

<h1 id="noticiasT">NOTICIAS</h1><br>

<div class="noticias-container">
    <div class="noticias-column">
        {% for Noticia in Noticias %}
        <div class="noticias-item-vertical">
            <img class="noticias-imagen" src="{{ Noticia.imagen_url }}" alt="Imagen de una noticia chaval">
            <div class="noticias-texto">
                <h3>{{ Noticia.titulo }}</h3><br>
                <p>{{ Noticia.descripcion }}</p>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="noticias-column-derecha">
        {% for evento in Eventos %}
        <div class="noticias-item-horizontal">
            <img src="{{ evento.imagen_url }}" alt="Imagen de un evento">
            <div class="noticias-contenido">
                <h3>{{ evento.name }}</h3><br>
                <p><strong>Localidad: </strong>{{ evento.localidad.name }}</p>
                <p><strong>Descripción:</strong></p>
                <p>{{ evento.descripcion }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
