{% extends 'base/base.html' %}

{% block content %}
<main class="content">
    <h1>Práctica 5</h1>
    <section class="instructions">
        <p><strong>Materia</strong>: Desarrollo Web 2</p>
        <p><strong>Docente</strong>: Luis Angel Mejía Poot</p>
        <p><strong>Alumno</strong>: Hernandez Castelazzo Diego Rodrigo</p>
        <br>
        <h2>Instrucciones:</h2>
        <ol>
            <li>Crear página <strong>index</strong> de su proyecto en Django al ir a la URL <code>127.0.0.1:8000</code> y mostrar la página principal.</li>
            <li>Desde la lista de usuarios, al presionar el botón <strong>“Ver”</strong> deberá redirigir a la página donde se encuentra el formulario para editar la información del usuario.</li>
            <li>Crear la pantalla donde se podrá ver el formulario de actualización de usuario:
                <ul>
                    <li>Maquetar formulario con todos los campos editables.</li>
                    <li>Mostrar los datos correspondientes del usuario en cada campo del formulario.</li>
                    <li>Debajo del formulario, mostrar en una <strong>tabla</strong> todas las direcciones del usuario seleccionado.</li>
                </ul>
            </li>
            <li>Crear el método <strong>POST</strong> para que, al presionar el botón “Actualizar”, se realice la actualización de la información del usuario.</li>
            <li>Diseñar el <strong>Header y Footer</strong> creados en la última clase.</li>
            <li>En el Header, agregar las secciones <strong>Orders</strong> y <strong>Users</strong> para navegar a sus respectivos listados.</li>
            <li>Cada pantalla debe tener su propio archivo <code>CSS</code> y <code>JS</code> (este último será utilizado en clases futuras).</li>
            <li>El diseño de las pantallas queda a la creatividad del alumno.</li>
        </ol>
        
        </section>
</main>
{% endblock %}
